// ====================================================================
// Dark Colors
// Use for text and backgrounds
$color-dark-900: #141C29; // primary text
$color-dark-800: #1E2C42; // 
$color-dark-700: #3C4A66; // secondary copy and footnotes
$color-dark-600: #6F7385; // secondary copy and footnotes
// Light Colors
// Use for backgrounds and gradients
$color-light-500: #8693A6;
$color-light-400: #BEC5D1;
$color-light-300: #EBEFF5;
$color-light-200: #F7FAFC;
$color-light-100: #FFFFFF;
// Social Icon Colors
$color-social-codepen: #212121;
$color-social-dribble: #EA4C89;
$color-social-facebook: #4A67AD;
$color-social-github: #24292E;
$color-social-gplus: #DB4437;
$color-social-instagram: #BC2A8D;
$color-social-linkedin: #0077B5;
$color-social-twitter: #1DA1F2;