body {
  padding: 24px 16px;
  background-color: hsl(0, 0%, 96%);
  font-family: sans-serif;
}

h1,
h2 {
  margin: 16px 0;
}

.restaurante {
  padding: 24px;
}

.ver-ar {
  display: flex;
  flex-direction: column;
}

.enlace-360 {
  flex: 1 1 70%;
}

.link__marker {
  flex: 1 1 30%;
  max-width: 196px;
  max-height: 196px;
  object-fit: contain;
}

* {
  margin: 0;
  padding: 0;


  outline: 1px solid;


}

.cards {
  width: 100%;
  display: block;
}

@media screen and (min-width: 37em) {

  .ver-ar {

    flex-direction: row;
  }

  .restaurante {
    width: 40%;
    margin: 0 auto;
  }

  .cards {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
  }

  .card {
    flex-direction: row;
  }

  .card__marker {
    max-width: 164px;
    align-self: flex-start;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 24px 0;
  background-color: #fff;
}

.card__info {
  margin-right: 16px;
  flex: 1 0 70%;
}

.card__price {
  margin-top: 16px;
  font-weight: bold;
}

.card__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.card__marker {
  width: 100%;
  height: auto;
  object-fit: contain;
}